.landning {
    display: grid;
    max-width: 48em;
    margin: 0 auto;
    gap: 1em 2em;
    padding: 0 1em;
}

.landning h1 {
    grid-column: span 3;
    justify-self: center;
}

.kmom-box {
    border: 1px solid rgba(0, 0, 0, 0.3);
    grid-column: span 1;
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 0;
    text-align: center;
}

.kmom-box.projekt {
    grid-column: span 3;
}

.kmom-box h2 {
    background-color: #bbb;
    text-decoration: underline;
}

.kmom-box p {
    padding: 0 1em;
}

.social.bottom {
    float: right;
    padding: 0 0.5em 0.2em 0;
    font-size: 2rem;
}

/* Surfplattor i horisontellt läge
@media (max-width: 920px) {
} */

/* De flesta mobiltelefoner */
@media (max-width: 767px) {
    .landning h1,
    .kmom-box,
    .kmom-box.projekt {
        grid-column: span 4;
    }
}
