$base-color: #c6538c; // mauve pink

// Externa:
//Genom base hämtas 'normalize.css', shared/layout och shared/variables också in;
@import '../../shared/scss/base';
//fontawesome behöver komma först:
@import '../../shared/fontawesome/scss/fontawesome';
// Sätt sökväg som egen variabel ty default sökväg ej stämmer i detta fall:
$fa-font-path: '../../shared/fontawesome/webfonts';
// Laddar in 3 olika typer a ikoner:
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/regular';
@import '../../shared/fontawesome/scss/solid';

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Shadows+Into+Light+Two&display=swap');
// Egna för specifika temat:
// (egna skriver över i externa om de definieras i denna ordning [egna EFTER externa])
@import 'old';

* {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Shadows Into Light Two', cursive;
}

/*
* {
    background-color: yellow;
} */
